<!DOCTYPE html>
<html>
<!-- 使用thymeleaf，配置相应的 -->
<html xmlns:th="http://www.thymeleaf.org">  <!-- th!!! 命名空间使用 -->
<head>
<meta charset="UTF-8"/><!--<meta charset="UTF-8" />  thymeleaf模板引擎默认是Template modes:HTML5解析的，所以解析比较严格。  -->
<title>手机登录页面</title>
	<!-- jquery -->
	<!-- <script type="text/javascript" src="@{/js/jequery.min.js}"></script> -->
	<script type="text/javascript" src="/jquery-validation/lib/jquery-1.11.1.js"></script>
	<link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	<script type="text/javascript"	 src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- layer -->
	<script type="text/javascript" src="/layer/layer.js"></script>
</head>
<body>
	<form action="" method="POST">
        <input type="button" onclick="register()" value="注册">
        <input type="button" onclick="mobileLogin()" value="手机登录">
        <input type="button" onclick="update()" value="修改用户">
        <input type="button" onclick="createGoods()" value="新增商品">
        <input type="button" onclick="deleteGoods()" value="删除商品">
        <input type="button" onclick="createGoodsBrand()" value="新增商品品牌">
        <input type="button" onclick="createGoodsCategory()" value="新增商品分类">
        <input type="button" onclick="getGoodsCategory()" value="查找商品分类">
        <input type="button" onclick="test()" value="测试">
        <input type="button" onclick="test1()" value="测试1">
    </form>	
</body>
<script type="text/javascript">
	function register(){
		window.location.href = 'customer/register.html';
	}
	
	function mobileLogin(){
		window.location.href = 'customer/mobileLogin.html';
	}
	
	function update(){
		window.location.href = 'customer/updateCustomer.html';
	}
	
	function createGoods(){
		window.location.href = 'good/createGoods.html';
	}
	
	function createGoodsBrand(){
		window.location.href = 'good/createGoodsBrand.html';
	}
	
	function createGoodsCategory(){
		window.location.href = 'good/createGoodsCategory.html';
	}
	
	function getGoodsCategory(){
		window.location.href = 'good/getGoodsCategory.html';
	}
	
	function test(){
		var tokenHead = getCookie("tokenHead");
		var token = getCookie("token");
		$.ajax({
			type : "POST",                           //通过POST方式上传请求
			contentType : "application/json",		//上传内容格式为json结构
			url : "/test",     						//请求的url。与后端@Request Mapping注解中的值一致。
			beforeSend: function(request) {
	            request.setRequestHeader("Authorization", tokenHead + token);
	        },
			success : function(data) {		     	//请求成功的回调函数
				if(data.code == 200){
					alert(data);
				}else if(data.code == 401){
					alert(data.message);
					window.location.href = "customer/mobileLogin.html";
				}else if(data.code == 403){
			    	alert(data.message);
					window.location.href = "mobileLogin.html";
				}
			},
			error : function(data) {		      		//请求失败的回调函数
				alert("测试失败");
			}
		});
	}
	
	//读取cookies 
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg)) return unescape(arr[2]);
        else return null;
    }
</script>
</html>